main {
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gif {
    width: 36%;
    border-radius: 9px;
    border: 1px inset black;
    box-shadow: 1px 1px 1px 2px solid rgb(185, 168, 168);
  }

  .sections h2 {
    color: black;
  }

  .sections p {
    color: black;
    text-align: justify;
  }

  
  .Github, .HTML, .CSS, .JavaScript, .React {
    margin: 20px 28px;
    background-image: linear-gradient(170deg, #89efed 0, #7ccad1 25%, #71c6d9 50%, #4c8694 75%, #337b85 100%);
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    border: 1px inset rgb(61, 60, 60);
  }